* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#screen {
  width: 100%;
  padding: 20px;
  background-color: #444;
  color: #fff;
  font-size: 2em;
  text-align: right;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.5em;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #666;
}

button:active {
  background-color: #777;
}
